h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
font-weight: 300;
font-size: 42px;
}

h4 {
  font-size: 16px;
}

.title{
  color: white;
}

.linkcolor {
  color: Aquamarine;
}

.textfont {
  font-family: Verdana;
}

.center {
  text-align: center;
}

.gray {
font-size: 21px;
color: gray;
  }

.footer {
  text-align: right;
}
